p,a,div {
    	font-family: Arial, Tahoma, sans-serif;
}

wraper {
    width: 100%;
}

header {
    margin: 0 auto;
    width: auto;
    padding: 0 10%;
    text-align: center;
    background-color: black;
}
.text_logo {
    color: white;
    float: left;
    margin-top: 2%;
    font-size: 22px;
    font-weight: 900;
}
nav {
    float: right;
    margin-top: 2%;
    width: 65%;
}
nav li {
    display: inline-block;
    float: right;
    width: auto;
    padding:1%;
}
nav a {
    display: inline-block;
    padding: 5px 3px 5px 3px;
    margin: 0 25%;
    font-size: 12px;
    width: 103%;
    text-decoration: none;
    color: white;
}
nav a:hover {
    border-bottom: 2px solid yellow;
}
.text_welcom {
    padding:12% 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
.text_welcom p {
    display: inline;
}
.text_welcom__weight {
  font-weight: 900;
}
.text_welcom__size {
  font-size: 36px;
}
.text_welcom__color {
  color: yellow;
}

.circle_arrow {
    display: inline-block;
    margin: 5% 0;
    padding: 22px;
    width: 0;
    border-radius: 24px;
    border:2px solid white;
}

/* SECTION 1 */

section {
  
}
