p,a,div {
    	font-family: Arial, Tahoma, sans-serif;
}

wraper {
    width: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header {
    margin: 0 auto;
    width: auto;
    padding: 0 10%;
    text-align: center;
    background-color: black;
}
.text_logo {
    color: white;
    float: left;
    margin-top: 2%;
    font-size: 22px;
    font-weight: 900;
}
nav {
    float: right;
    margin-top: 2%;
    width: 65%;
}
nav li {
    display: inline-block;
    float: right;
    width: auto;
    padding:1%;
}
nav a {
    display: inline-block;
    padding: 5px 3px 5px 3px;
    margin: 0 25%;
    font-size: 12px;
    width: 103%;
    text-decoration: none;
    color: white;
}
nav a:hover {
    border-bottom: 2px solid yellow;
}
.text_welcom {
    padding:12% 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
.text_welcom p {
    display: inline;
}
.text__weight {
  font-weight: 900;
}
.text__size {
  font-size: 36px;
}
.text__color {
  color: yellow;
}

.circle_arrow {
    display: inline-block;
    margin: 5% 0;
    padding: 22px;
    width: 0;
    border-radius: 24px;
    border:2px solid white;
}
.circle_arrow:hover {
    border-color: yellow;

}

/* SECTION 1 */

.about_us {
  margin: 0 auto;
  padding: 0 10%;
  background-color: white;
}
.pc_image {
  width: 55%;
  height: 55%;
  padding: 6% 10% 14% 10%;
  float: left;
  margin: -5% 0 0 -18%;
  background-image: url(../img/PC.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.display_image {
  padding: 31% 31%;
  background-image: url(../img/inPC.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 62%;
}
.about {
  padding-top: 7%;
  margin-left: 60%;
}
.header__about {
    font-size: 22px;
    color: grey;
}
.header__second_about {
    display: inline-block;
    margin: 22px 0;
    padding-bottom: 10px;
    font-size: 32px;
}
.about_text {
    width: 69%;
    font-size: 20px;
    color: grey;
}
