p,a,div {
    	font-family: 'Open Sans', sans-serif;
}
b {
  font-weight: 900;
  font-style: normal;
}
i {
  color: orange;
}

.wraper {
    width: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
hr {
  display: block;
  margin: 0 auto;
  width: 80px;
  padding: 10px;
  border: 0;
  border-top: 5px solid orange;
}
hr::after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 60px;
  height: 5px;
  border: 0;
  background-color: orange;
}

/* H E A D E R */

header {
    margin: 0 auto;
    width: auto;
    padding: 0 10%;
    text-align: center;
    background-color: black;
}
.text_logo {
    color: white;
    float: left;
    margin-top: 2%;
    font-size: 22px;
    font-weight: 900;
}
nav {
    float: right;
    margin-top: 2%;
    width: 65%;
}
nav li {
    float: right;
    width: auto;
    padding:1%;
}
nav a {
    display: inline-block;
    padding: 5px 3px 5px 3px;
    margin: 0 25%;
    font-size: 12px;
    width: 103%;
    text-decoration: none;
    color: white;
}
nav a:hover {
    border-bottom: 2px solid yellow;
}
.text_welcom {
    padding-top: 14%;
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    color: grey;
}
.text_intro {
  padding: 1% 0 14% 0;
  color: lightgrey;
  font-size: 20px;
}
.circle_arrow {
    display: inline-block;
    margin: 5% 0;
    padding: 22px;
    width: 0;
    border-radius: 24px;
    border:2px solid white;
}
.circle_arrow:hover {
    border-color: orange;

}

/* S E C T I O N   #1 */

.about_us {
  margin: 0 auto;
  padding: 5% 10%;
}
.shadow_image {
  float: left;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-size: 64%;
}
.pc_image {
  display: inline-block;
  background-image: url(../img/PC.png);
  background-repeat: no-repeat;
  background-size: 46%;
}
.display_image {
  display: inline-block;
  margin-top: 3%;
  margin-left: 2%;
  background-image: url(../img/inPC.png);
  background-repeat: no-repeat;
  background-size: 42%;
}
.about {
   margin: -3% 0 0 58%;
   padding-bottom: 7%;
}
.header__about {
    font-size: 22px;
    color: grey;
}
.header__second_about {
    display: inline-block;
    margin-top: 22px;
    font-size: 32px;
}
.header__second_about::after {
  display: block;
  content: "";
  margin: 20px 0 35px 0;
  width: 100px;
  height: 5px;
  border: 0;
  background-color: orange;
}
.about_text {
    width: 88%;
    font-size: 16px;
    color: grey;
    line-height: 20px;
}
.about ul{
    margin: 35px 0;
}
.about li {
    margin: 10px 0;
    font-style: italic;
    color: grey;
}
.about li:before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    border: 7px double black;
    border-radius: 7px;
}
.about button {
    padding: 15px 25px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: white;
}
.about button:before {
  content: url(../img/bag.png);
  vertical-align: middle;
  margin-right: 5px;
}

/* S E C T I O N   #2 */

.team {
    background-color: black;
    text-align: center;
    padding-bottom: 100px;
}
.team_header {
    display: inline-block;
    margin-top: 7%;
    padding-bottom: 2%;
    font-size: 36px;
    color: white;
}
.about__team {
}
.teamate_profile {
    display: inline-block;
    margin: 0 25px;
    padding-top: 100px;
    width: 16%;
    text-align: center;
    color: white;
}
.teamate_img {
    margin: 35px auto;
    padding: 80px 80px;
    width: 0;
    border-radius: 80px;
    background-color: lightgrey;
}
.teamate_name {
    font-weight: 900;
    font-size: 24px;
}
.teamate_about {
    font-size: 20px;
}
.teamate_subscribe {
    margin: 25px 0;
    font-size: 18px;
}

/* S E C T I O N   #3 */

.our_services {
  padding: 5% 10%;
  text-align: center;
}
.serv_header {
  padding-bottom: 20px;
}
.serv_text {
  margin: 0 10%;
  color: grey;
  font-style: italic;
  line-height: 22px;
}
.serv_profile {
    display: inline-block;
    margin: 0 35px;
    padding-top: 100px;
    width: 16%;
    text-align: center;
}
.serv_img {
    margin: 35px auto;
    width: 120px;
    padding: 30px 0;
    border-radius: 80px;
    border: 6px solid orange;
}
.serv_name {
    font-weight: 900;
    font-size: 24px;
}
.serv_subscribe {
    margin: 25px 0;
    font-size: 18px;
}

/* S E C T I O N   #4 */

.our_clients {
  padding: 5% 10%;
  text-align: center;
  background-color: black;
}
.client_header {
  padding-bottom: 20px;
  font-size: 36px;
  color: white;
}
.client_brand {
  margin: 50px auto;
}
.client_brand img {
  margin: 2%;
}

/* S E C T I O N    #5 */

.our_work {
  padding: 5% 10%;
  text-align: center;
}
.work_header {
  font-size: 36px;
  padding-bottom: 20px;
}
.work_text {
  margin-top: 3%;
  line-height: 24px;
  font-style: italic;
  color: grey;
}
.work_filter {
  margin-top: 7%;
}
.work_filter p {
  float: left;
}
.work_filter li {
  float: right;
  padding: 10px;
}
.work_filter a {
  text-decoration: none;
  color: grey;
}
.work_filter a:hover {
  color: black;
}
.portfolio {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.portfolio img {
  margin: 1% 0;
}

/* S E C T I O N   #6 */

.feedback {
  background-color: black;
  padding: 5% 10%;
  text-align: center;
}
.feedback_header {
  color: white;
  font-size: 36px;
  padding-bottom: 20px;
}
.feedback_text {
  margin: 5% 0 5% 0;
  color: lightgrey;
  text-transform: uppercase;
  font-size: 18px;
}
.feedback_autor {
  margin: 0 0 5% 0;
  color: lightgrey;
  font-size: 16px;
}

/* S E C T I O N    #7 */

.contact_us {
  padding: 5% 10%;
  text-align: center;
}

.contact_us__header {
  padding-bottom: 20px;
  font-size: 36px;
}
.contact_us__text {
  margin: 5% 0;
  color: grey;
  font-style: italic;
}
.contact_us__input {
  margin: 5% 0;
  height: 50%;
}
.contact_us__input__signature {
  color: grey;
}
.contact_us__input__signature::after {
  content: "*";
  color: red;
  margin-left: 2px;
}
