p,a,div {
    	font-family: 'Open Sans', sans-serif;
}
b {
  font-weight: 900;
}

wraper {
    width: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
hr {
  display: block;
  margin: 0 auto;
  width: 80px;
  padding: 10px;
  border: 0;
  border-top: 5px solid orange;
}
hr::after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 60px;
  height: 5px;
  border: 0;
  background-color: orange;
}
header {
    margin: 0 auto;
    width: auto;
    padding: 0 10%;
    text-align: center;
    background-color: black;
}
.text_logo {
    color: white;
    float: left;
    margin-top: 2%;
    font-size: 22px;
    font-weight: 900;
}
nav {
    float: right;
    margin-top: 2%;
    width: 65%;
}
nav li {
    float: right;
    width: auto;
    padding:1%;
}
nav a {
    display: inline-block;
    padding: 5px 3px 5px 3px;
    margin: 0 25%;
    font-size: 12px;
    width: 103%;
    text-decoration: none;
    color: white;
}
nav a:hover {
    border-bottom: 2px solid yellow;
}
.text_welcom {
    padding:12% 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
.text_welcom p {
    display: inline;
}
.text__weight {
  font-weight: 900;
}
.text__size {
  font-size: 36px;
}
.text__color {
  color: yellow;
}

.circle_arrow {
    display: inline-block;
    margin: 5% 0;
    padding: 22px;
    width: 0;
    border-radius: 24px;
    border:2px solid white;
}
.circle_arrow:hover {
    border-color: yellow;

}

/* S E C T I O N   #1 */

.about_us {
  margin: 0 auto;
  padding: 0 10%;
  background-color: white;
}
.pc_image {
  width: 55%;
  height: 55%;
  padding: 6% 10% 14% 10%;
  float: left;
  margin: -5% 0 0 -18%;
  background-image: url(../img/PC.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.display_image {
  padding: 31% 31%;
  background-image: url(../img/inPC.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 62%;
}
.about {
  padding-top: 7%;
  margin-left: 60%;
}
.header__about {
    font-size: 22px;
    color: grey;
}
.header__second_about {
    display: inline-block;
    margin: 22px 0;
    padding-bottom: 10px;
    font-size: 32px;
}
.about_text {
    width: 69%;
    font-size: 20px;
    color: grey;
}
.about ul{
    margin: 35px 0;
}
.about li {
    margin: 10px 0;
    font-style: italic;
    color: grey;
}
.about li:before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    border: 7px double black;
    border-radius: 7px;
}
.about button {
    padding: 15px 25px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: white;
}

/* S E C T I O N   #2 */
.team {
    background-color: black;
    text-align: center;
    padding-bottom: 100px;
}
.team_header {
    display: inline-block;
    margin-top: 7%;
    padding-bottom: 2%;
    font-size: 36px;
    color: white;
}
.about__team {
}
.teamate_profile {
    display: inline-block;
    margin: 0 25px;
    padding-top: 100px;
    width: 16%;
    text-align: center;
    color: white;
}
.teamate_img {
    margin: 35px auto;
    padding: 80px 80px;
    width: 0;
    border-radius: 80px;
    background-color: lightgrey;
}
.teamate_name {
    font-weight: 900;
    font-size: 24px;
}
.teamate_about {
    font-size: 20px;
}
.teamate_subscribe {
    margin: 25px 0;
    font-size: 18px;
}

/* S E C T I O N   #3 */
.our_work {
  padding: 5%;
  text-align: center;
}
.serv_header {
  padding-bottom: 20px;
}
.serv_text {
  margin: 0 10%;
  color: grey;
  font-style: italic;
  line-height: 22px;
}
.serv_profile {
    display: inline-block;
    margin: 0 35px;
    padding-top: 100px;
    width: 16%;
    text-align: center;
}
.serv_img {
    margin: 35px auto;
    width: 120px;
    padding: 30px 0;
    border-radius: 80px;
    border: 6px solid yellow;
}
.serv_name {
    font-weight: 900;
    font-size: 24px;
}
.serv_subscribe {
    margin: 25px 0;
    font-size: 18px;
}
