wraper {
    width: 100%;
}

header {
    width: 80%;
    background-color: black;
}
.text_logo {
    color: white;
    float: left;
}
nav {
    float: right;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: white;
}
.text_welcom {
    margin: 0 auto;
    text-align: center;
}
.text_welcom p {
    color: white;
}

.circle_arrow {
    margin: 0 auto;
    padding: 15px;
    border:2px solid white;
}