p,a,div {
    	font-family: Arial, Tahoma, sans-serif;
}

wraper {
    width: 100%;
}

header {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: black;
}
.text_logo {
    color: white;
    float: left;
}
nav {
    float: right;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: white;
}
.text_welcom {
    padding:180px 0;
    text-align: center;
}
.text_welcom p {
    display: inline;
    color: white;
}

.circle_arrow {
    display: inline-block;
    margin: 85px 0;
    padding: 15px;
    width: 0;
    border-radius: 16px;
    border:2px solid white;
}